pytz==2013.7
requests==2.7.0
Flask==0.12.2
gunicorn==0.14.2
ph_py==0.1
feedparser==5.2.1
lxml==3.8.0
redis==2.10.5
beautifulsoup4==4.6.0
flask-ask==0.9.6
flask_cors==3.0.2
Flask_BasicAuth==0.2.0
flask_sslify==0.1.5
universal-analytics-python==0.2.4
epoch==0.1.4
uuid==1.30
google-api-python-client==1.6.4
raven==6.4.0
blinker==1.4
statistics==1.0.3.5
flask-compress==1.4.0
APScheduler==3.2.0