<!doctype html>  
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex">
        <title>Error</title>
        <!--<meta name="description" content="Sign up for date night ideas (tv, food, recipes, movies, and more!)">-->
        <meta name="author" content="BaeLife &amp; Neal Shyam">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}"> 
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicon.png') }}"> -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400,300i,400i" rel="stylesheet">        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        
    </head>
    <body>
        <div id ="main">
            <h2>Yikes on bikes!</h2>
            <p><img src="https://media.giphy.com/media/bAy8xK8qcCz0A/giphy.gif" width="300"></p>
            <!--<p>{{error}}</p>-->
            <hr>
            <p>&copy; 2017 <a href="https://nealshyam.com">Neal Shyam</a>
        </div>
        
        <script defer src="//use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110783082-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-110783082-1');
        </script>
    </body>
</html>