<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex">
  <title>Derp!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <!--<h2>MTA Service Status</h2>-->
  <!--<iframe width="230" height="430" border="0" frameborder="0" src="https://service.mta.info/ServiceStatus/status.html?widget=yes" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no"></iframe>-->

  <h2>Flash Briefing Feeds</h2>
  <p><a href="/mta/subway">Subway</a></p>
  <p><a href="/mta/bus">Bus</a></p>
  <p><a href="/mta/lirr">Long Island Railroad</a></p>
  <p><a href="/mta/mnr">Metro-North Railroad</a></p>
  <p><a href="/mta/bt">Bridges &amp; Tunnels</a></p>

  <p>Go to <a href="https://mta.info">mta.info</a> for more details. All data courtesy of the MTA.</p>

</body>
</html>
